@media only screen and (min-width: 768px) {

.header__name{
    font-family: monospace;
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    width: 770px;
    height: 90px;
    left: 40%;
    top: 20%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
}


h1{
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

  }